<br><br><br><br><br><br>

<h2 style="text-align: center;">Latest Earthquakes</h2>

<ul class="list-group"><% @earthquakes.each do |earthquake| %>
	<li class="list-group-item"><h4><%= earthquake.location %></h4></li>
	<% end %>
</ul>
