    <!-- Header -->
    <header>
        <div class="container" id="maincontent" tabindex="-1">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="https://pbs.twimg.com/profile_images/1650881356/safely-twitter_400x400.png" alt="">
                    <div class="intro-text">
                        <h1 class="name">Safe.ly</h1>
                        <span class="skills">Real-time alerts to loved ones</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

 <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2><%= @user.first_name %>'s contacts</h2>
                </div>
            </div>
            <% @user.relatives.each do |relative| %>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p> __________</p>
                    <h3><%= relative.full_name %></h3>
                    <h4>Phone: <%= relative.phone %></h4>
                </div>
            </div>
            <% end %>
            </div>
        </div>
    </section>